// .sendMessage {
//     text-align: center;
//   }
  
//   .sendMessage button {
//     display: inline-block;
//     margin: 20px 0;
//     padding: 10px 20px;
//     border: none;
//     background-color: #333;
//     color: #fff;
//     cursor: pointer;
//   }
  
//   .sendMessage button:hover {
//     background-color: #666;
//   }

  
.main1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .main1 h3 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .main1 p {
    margin: 20px 0;
    font-size: 1.2em;
  }
  
  .main1 button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .main1 button:hover {
    background-color: #666;
  }
  
  .sendMessage {
    text-align: center;
  }
  
  .sendMessage button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .sendMessage button:hover {
    background-color: #666;
  }
  