// .main{
//     .button{      

//         background-color: #4c95af;
//         border: none;
//         color: white;
//         padding: 15px 32px;
//         text-align: center;
//         text-decoration: none;
//         display: inline-block;
//         font-size: 16px;
//         margin-top: 40px;

//         .contact{
           
//             width: 300px;
//             height: 20px;
//             // padding: 10px;
//             // margin: 10px;        
//         }
//     }
// }

.main {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background-color: #5298b1;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #666;
  }
  
  .contact {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
  }
  