.footer {
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
   // display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .footer p {
    margin: 0;
  }
  